<div style="text-align:center">
  <%= image_tag end_user.get_profile_image(150,150) %>
</div>

  <div class="nickname mt-md-4">
    <div>
      <p>＊メモ主</p>
      <p>&emsp;<%= end_user.nickname %></p>
    </div>
    <div class="mt-md-2">
      <p>＊自己紹介</p>
      <p>&emsp;
        <% if end_user.self_introduction == "" %>
          <%= end_user.self_introduction %>
        <% else %>
          現在未設定です。
        <% end %>
      </p>
    </div>
  </div>

  <div style="text-align:center;" class="setting mt-md-5">
  <p>
    <% if end_user.nickname != "guest_end_user" %>
      <i class="fas fa-cog setting_btn"></i>&nbsp;
      <%= link_to "プロフィール編集", end_users_information_edit_path %>
      <!--<i class="fas fa-cog setting_btn"></i>-->
    <% else %>
      <i class="fas fa-cog setting_btn"></i>&nbsp;
      <p>プロフィール編集<br>(※ゲストユーザー様は<br>&emsp;ご利用いただけません)</p>
    <% end %>
  </p>
  </div>

  <div class="mt-md-5 pt-md-5">
    <ul class="side_menu">
      <li class="menu"><%= link_to "メモを書く", new_post_path %></li>
      <li class="menu"><%= link_to "メモ一覧", posts_path %></li>
      <li class="menu"><%= link_to "カテゴリ一覧", categories_path %></li>
      <li class="menu"><%= link_to "いいねしたメモたち", favorite_index_path %></li>
      <li class="menu"><%= link_to "参加しているグループ", groups_path %></li>
      <li class="menu">
        <% if end_user.nickname != "guest_end_user" %>
          <%= link_to "退会する", unsubscribe_path %>
        <% else %>
          退会する<br>&emsp;&emsp;(※ゲストユーザー様は<br>&emsp;&emsp;&emsp;ご利用いただけません)
        <% end %>
      </li>
    </ul>
  </div>