<div class="container">
  <div class="row mt-md-5">

    <div class="col-md-3">
      <%= render "public/end_users/sidebar", end_user: @end_user %>
    </div>

    <div class="col-md-8 offset-md-1">
      <div class="mb-md-5">
        <h4>いいねしたメモたち</h4>
      </div>
      <%#= render "public/posts/index_hover", posts: @posts %>

      <% @posts.each do |post| %>
        <ul class="grid cs-style-1" id="memo_images">
          <li>
            <figure class="memo_pin">
              <i class="fas fa-thumbtack"></i>
              <%= image_tag post.get_image(400,300) %>
              <figcaption>
                <h3><%= post.title.truncate(10) %></h3>
                <span>
                  <%= post.categories.map(&:name).join(', ').truncate(12) %><br>
                  <i class="fas fa-heart"></i>&nbsp;<%= post.favorites.count %>&emsp;<%= "#{post.comments.count} コメント" %>
                </span>
                <%= link_to "詳しく見る", post_path(post) %>
              </figcaption>
            </figure>
          </li>
        </ul>
      <% end %>
    </div>

  </div>
</div>
