<div class="container">
  <div class="mypage">
    <h4>マイページ</h4>
  </div>
  <div class="row mt-md-5">
    
    
    <div class="col-md-3">
      <%= render "sidebar", end_user: @end_user %>
    </div>


    <div class="col-md-8 offset-md-1 mt-md-4">
      <div id="category_box">
        <h5 style="font-size:15px;" class="mb-md-4"><i class="fas fa-tags"></i>&nbsp;最近メモを登録したカテゴリ</h5>&emsp;
        <% if @categories.present? %>
          <% last_category = nil %>
          <% @categories.each do |category| %>
            <% if category != last_category %>
              <span style="font-size:15px; margin:2px;">
                <%= link_to category.name, posts_search_category_path(category_id: category.id), class: "btn btn-sm btn-outline-primary" %>
              </span>
            <% end %>
            <% last_category = category %>
          <% end %>
        <% else %>
          <p>登録されているカテゴリがありません。</p>
        <% end %>
      </div>

      <div class="mt-md-5">
        <h5><i class="fas fa-pen"></i>&nbsp;最近したためたメモ</h5>
        <%#= render "public/posts/index_hover", posts: @posts %>
        <% if @posts.exists? %>
          <% @posts.each do |post| %>
            <ul class="grid cs-style-1" id="memo_images">
              <li>
                <figure class="memo_pin">
                  <i class="fas fa-thumbtack"></i>
                  <%= image_tag post.get_image(400,300) %>
                  <figcaption>
                    <h3><%= post.title.truncate(10) %></h3>
                    <span>
                      <%= post.categories.map(&:name).join(', ').truncate(12) %><br>
                      <i class="fas fa-heart"></i>&nbsp;<%= post.favorites.count %>&emsp;<%= "#{post.comments.count} コメント" %>
                    </span>
                    <%= link_to "詳しく見る", post_path(post) %>
                  </figcaption>
                </figure>
              </li>
            </ul>
          <% end %>
        <% else %>
        	<p>メモが 0 枚です。</p>
        <% end %>
      </div>
    </div>


  </div>
</div>
