<h1>マイページ</h1>

<h4>名前</h4>
<%= @end_user.nickname %>

<h4>画像</h4>
<%= image_tag @end_user.get_profile_image(100,100) %>

<h4>自己紹介</h4>
<%= @end_user.self_introduction %>


<div>
  <% if @end_user.nickname != "guest_end_user" %>
    <%= link_to "プロフィール編集", end_users_information_edit_path %>
  <% end %>
  <%= link_to "メモを書く", new_post_path %>
  <%= link_to "メモ一覧", memo_path %>
  <%= link_to "カテゴリ管理", categories_path %>
  <%= link_to "いいねしたメモたち", favorite_index_path %>
  <% if @end_user.nickname != "guest_end_user" %>
    <%= link_to "退会する", unsubscribe_path %>
  <% end %>
</div>


<div id="tag_box">
  <p style="font-size:15px;"><i class="fas fa-tags">最近メモを作成したカテゴリ</i></p>
    <% if @posts_category.present?%>
      <!--last_tagという箱を作成-->
      <% last_category = nil %>
      <% @posts_category.each do |category| %>
      <!--タグが被ってなければ、名前表示　タグ被ってたら何もせず-->
        <%  if category != last_category %>
          <span style="font-size:15px; margin:2px;"><%= link_to category.name, posts_search_category_path(category_id: category.id), class: "btn btn-sm btn-outline-primary"%></span>
        <% end %>
      <!--今取り出したタグをlast_tagに入れる-->
        <%  last_category = category %>
      <% end %>
    <% else %>
      <p>メモがありません。</p>
    <% end %>
</div>