<table class="table">

	<thead>
	  <tr>
  		<th>会員ID</th>
  		<th>プロフ画像</th>
  		<th>ニックネーム</th>
  		<th>コメント本文</th>
  		<th>コメント日時</th>
  		<th></th>
		</tr>
	</thead>

	<tbody>
	  <% comments.each do |comment| %>
  	  <tr>
        <td><%= comment.end_user.id %></td>
        <td>
          <%= link_to admin_end_user_path(comment.end_user) do %>
            <%= image_tag comment.end_user.get_profile_image(70,70) %>
          <% end %>
        </td>
        <td>
          <%= link_to admin_end_user_path(comment.end_user) do %>
            <%= comment.end_user.nickname.truncate(12) %>
          <% end %>
        </td>
        <td>
          <%= link_to admin_post_path(comment.post) do %>
            <%= comment.comment.truncate(24) %>
          <% end %>
        </td>
        <td><%= comment.created_at.strftime('%Y/%m/%d %T') %></td>
        <!--<td>-->
          <%# if admin_signed_in? %>
             <%#= link_to "管理者削除", admin_end_user_comment_path(comment.end_user, comment), method: :delete, remote: true,
                                                "data-confirm" => "本当に消しますか？", class: "btn btn-danger" %>
          <%# end %>
        <!--</td>-->
      </tr>
     <% end %>
	 </tbody>

</table>
