<%= form_with model: group, url: url, local: true do |f| %>

  <%= render "layouts/error_messages", model: group %>

  <div class="form-group">
    <!--<i class="fas fa-ghost"></i>-->
    <i class="fas fa-star"></i>
    <%= f.label :name, "グループ名", class: "form" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <i class="fas fa-hand-peace"></i>
    <%= f.label  :introduction, "紹介文", class: "form" %>
    <%= f.text_area :introduction, class: "form-control" %>
  </div>

  <div class="form-group">
    <i class="fas fa-image"></i>
    <%= f.file_field :image, accept: "image/*", class: "form-control-file form" %>
  </div>

  <div class="form-group" style="text-align:right;">
    <%= f.submit submit, class: "btn btn-info form" %>
  </div>

<% end %>
