<%= form_with model: post, url: url, local: true do |f| %>

  <%= f.label :image, "画像" %>
  <%= f.file_field :image, accept: "image/*" %>

  <%= f.label :title, "タイトル" %>
  <%= f.text_field :title %>

  <%= f.label :introduction, "本文" %>
  <%= f.text_area :introduction %>

  <%#= f.label :category_id, "カテゴリ" %>
  <%#= f.collection_select :category_id, Category.all, :id, :name, :include_blank => "選択してください" %>


  <div class="field">
    <%= f.label :name, "カテゴリ (,で区切ると複数のカテゴリに登録できます。)" %>
    <%= f.text_field :name, value: @category_list, class: "form-control"%>
  </div>




    <!--<div class='form-group'>-->
    <!--      <%#= form.collection_check_boxes(:category_ids, Category.all, :id, :name) do |category| %>-->
    <!--          <div class='form-check'>-->
    <!--              <%#= category.label class: 'form-check-label' do %>-->
    <!--                  <%#= category.check_box class: 'form-check-input' %>-->
    <!--                  <%#= category.text %>-->
    <!--              <%# end %>-->
    <!--          </div>-->
    <!--      <%# end %>-->
    <!--</div>-->


  <%= f.submit submit, class: "btn btn-primary" %>
<% end %>