<% if posts.exists? %>

  <% posts.each do |post| %>
    <ul class="grid cs-style-1" id="memo_images">
      <li>
        <figure class="memo_pin">
          <i class="fas fa-thumbtack"></i>
          <%= image_tag post.get_image(400,300) %>
          <figcaption>
            <h3><%= post.title.truncate(10) %></h3>
            <span>
              <%= post.categories.map(&:name).join(', ').truncate(12) %><br>
              <i class="fas fa-heart"></i>&nbsp;<%= post.favorites.count %>&emsp;<%= "#{post.comments.count} コメント" %>
            </span>
            <%= link_to "詳しく見る", post_path(post) %>
          </figcaption>
        </figure>
      </li>
    </ul>
  <% end %>

<% else %>
	<p>メモが 0 枚です。</p>
<% end %>
