<div class="container">
  <div class="row mt-md-5">


    <div class="col-md-3">
      <%= render "public/end_users/sidebar", end_user: @end_user %>
    </div>



    <div class="col-md-8 offset-md-1">
      <div class="mb-md-5">
        <h5>したためたメモたち</h5>
      </div>
      <%= render "categories", categories: @categories %>

      <div class="card-deck">
        <% if @posts.exists? %>

          <% @posts.each do |post| %>
            <div class="col-5 mb-md-4">
              <div class="card w-100 mx-auto shadow-lg">
                <%= link_to post_path(post) do %>
                  <%= image_tag post.get_image(100,150), class: "card-img-top"; %>
            		<% end %>

            		<div class="card-body">
            		  <%= link_to post_path(post) do %>
            			  <strong><p class="card-title"><%= post.title %></p></strong>
              		<% end %>

            		  <p class="card-text"><%= post.introduction.truncate(25) %></p>

                  <!--投稿一覧画面で投稿に紐づくタグを表示-->
                  <P class="card-category"><i class="fas fa-tags"></i>&nbsp;<%= post.categories.map(&:name).join(', ') %></P>

            		  <!--いいね機能-->
          		    <div id="favorite_buttons_<%= post.id %>">
            		    <%= render "public/favorites/favorite", post: post %>
          		    </div>
          		    <!--いいね機能 ここまで-->

            		  <p><i class="far fa-comment"></i>&nbsp;<%= link_to "#{post.comments.count} コメント", post_path(post.id) %></p>
            		</div>

        		  </div>
            </div>
      	  <% end %>

        <% else %>
        	<h3>メモが 0 枚です。</h3>
        <% end %>
      </div>
    </div>

  </div>
</div>
