<% @categories.each do |category|%>
  <%= link_to category.name, posts_search_category_path(category_id: category.id) %>
  <%= "(#{category.posts.count})" %>
<% end %>



<h5><%= @category.name%>のメモたち</h5>



<div class= "card">
  <div class= "card-body">

  <% if @posts.exists? %>



    <% @posts.each do |post| %>

        <%= link_to post_path(post) do %>
          <%= image_tag post.get_image(100,100) %>
    			<p><%= post.title %></p>
    		<% end %>

  		  <p><%= post.introduction.truncate(25) %></p>


        <!--投稿一覧画面で投稿に紐づくタグを表示-->
        <%= post.categories.map(&:name).join(', ') %>


  		  <!--いいね機能-->
		    <div id="favorite_buttons_<%= post.id %>">
  		    <%= render "public/favorites/favorite", post: post %>
		    </div>
		    <!--いいね機能 ここまで-->

  		  <p><%= link_to "#{post.comments.count} コメント", post_path(post.id) %></p>
  	<% end %>

  <% else %>
  	<h3>メモが 0 枚です。</h3>
  <% end %>

  </div>
</div>
