<h2>メモの中身</h2>
<%= image_tag @post.get_image(100,100) %>
<%= @post.title %>
<%= @post.introduction %>


<% @post_categories.each do |category| %>
  <%#= link_to category.name posts_search_category_path(category_id: category.posts.id) %>
  <%= category.name %>
  <%= "(#{category.posts.count})" %>
<% end %>

<%# @post.categories.each do |category| %>
  <span><%#= category.name %></span>
<%# end %>

<!--ステータスも表示させたい-->


<!--いいね機能-->
<div id="favorite_buttons_<%= @post.id %>">
  <%= render "public/favorites/favorite", post: @post %>
</div>
<!--いいね機能 ここまで-->



<!--コメント数 -->
<div id="comment_count_<%= @post.id %>">
  <%= render "public/comments/comment_count", post: @post %>
</div>
<!--コメント一覧-->
<div id="comment_area_<%= @post.id %>">
  <%= render "public/comments/comment", post: @post %>
</div>
<!--コメント送信フォーム-->
<div id="comment_form">
  <%= render partial: "public/comments/comment_form", locals: { post: @post, comment: @comment } %>
</div>
<!--コメント機能 ここまで-->


<%= link_to "メモを編集する", edit_post_path(@post), class: "btn btn-success" %>
<%= link_to "メモを削除する", post_path(@post), method: :delete, "data-confirm" => "本当に消しますか？", class: "btn btn-danger" %>
