<% post.comments.each do |comment| %>
  <p>
    <%= image_tag comment.end_user.get_profile_image(50,50), class: "rounded-circle" %>
    <%= comment.end_user.nickname %>&emsp;
    <%= comment.created_at.strftime('%Y/%m/%d %T') %>&emsp;
    <%= comment.comment %>&emsp;
    <% if comment.end_user == current_end_user %>
      <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete, remote: true,
                                      "data-confirm" => "本当に消しますか？", class: "btn btn-outline-danger btn-sm" %>
    <% end %>

    <% if admin_signed_in? %>
      【感情分析スコア: <%= comment.score %>】&emsp;
      <% if comment.score < 0 %>
        <%= link_to "管理者削除", admin_end_user_comment_path(comment.end_user, comment), method: :delete,
                        remote: true, "data-confirm" => "本当に消しますか？", class: "btn btn-danger btn-sm" %>
      <% else %>
        <%#= link_to "管理者削除", admin_end_user_comment_path(comment.post, comment), method: :delete,
                        remote: true, "data-confirm" => "本当に消しますか？", class: "btn btn-outline-danger btn-sm" %>
        <%= link_to "管理者削除", admin_end_user_comment_path(comment.end_user, comment), method: :delete,
                        remote: true, "data-confirm" => "本当に消しますか？", class: "btn btn-outline-danger btn-sm" %>
      <% end %>
    <% end %>
  </P>
<% end %>
