<h2>みんなのメモ</h2>

<%# if @range == "Post" %>
  <h3><%# params[:word] %>の検索結果 (全<%#= @all_posts_count %>枚)</h3>
<%# else %>
  <h3><%# params[:word] %>の検索結果 (全<%#= @all_categories_posts_count %>枚)</h3>
<%# end %>


<%= form_with url: search_path, local: true, method: :get do |f| %>
    <% Category.all.each do |category| %>
        <li><%= check_box :category_ids, category.name %><%= category.name %></li>
    <% end %>
    <%= f.submit "検索" %>
<% end %>





<!--カテゴリを検索フォームに入力しても検索結果が表示されない。-->

      <% @posts.each do |post| %>

        <%= link_to post_path(post) do %>
          <%= image_tag post.get_image(100,100) %>
    			<p><%= post.title %></p>
    		<% end %>

  		  <p><%= post.introduction %></p>
  	  <% end %>

