<h2>みんなのメモ</h2>

<% if params[:category_id] %>
  <h3><%= @category.name %>のメモ 検索結果 (全<%= @all_posts_count %>枚)</h3>
<% elsif %>
<%# if params[:range] %>
  <h3><%= params[:word] %>のメモ 検索結果 (全<%= @all_posts_count %>枚)</h3>
<% else %>
  <h3>すべてのメモ (全<%= @all_posts_count %>枚)</h3>
<% end %>



<div id="tag_box">
  <p style="font-size:15px;">自分が登録したカテゴリで検索してみよう！</p>
    <% if @categories.present? %>
      <% last_category = nil %>
      <% @categories.each do |category| %>
        <% if category != last_category %>
          <span style="font-size:15px; margin:2px;">
            <%= link_to category.name, search_path(category_id: category.id), class: "btn btn-sm btn-outline-primary" %>
          </span>
        <% end %>
        <% last_category = category %>
      <% end %>
    <% else %>
      <p>登録しているカテゴリがありません。</p>
    <% end %>
</div>







<div class= "card">
  <div class= "card-body">

  <% if @posts.exists? %>

    <% @posts.each do |post| %>

        <%= link_to post_path(post) do %>
          <%= image_tag post.get_image(100,100) %>
    			<p><%= post.title %></p>
    		<% end %>

  		  <p><%= post.introduction.truncate(25) %></p>


        <!--投稿一覧画面で投稿に紐づくタグを表示-->
        <%= post.categories.map(&:name).join(', ') %>


  		  <!--いいね機能-->
		    <div id="favorite_buttons_<%= post.id %>">
  		    <%= render "public/favorites/favorite", post: post %>
		    </div>
		    <!--いいね機能 ここまで-->

  		  <p><%= link_to "#{post.comments.count} コメント", post_path(post.id) %></p>
  	<% end %>

  <% else %>
  	<h3>メモが 0 枚です。</h3>
  <% end %>

  </div>
</div>

