<div class="container">

	<div class="row mt-md-5">
    <div class="col-md-12">
    	<h2>会員一覧</h2>
			<table class="table">
				<thead>
					<tr>
						<th>会員ID</th>
						<th>画像</th>
						<th>ニックネーム</th>
						<th>メールアドレス</th>
						<th>会員ステータス</th>
					</tr>
				</thead>
				<tbody>
					<% @end_users.each do |end_user| %>
						<tr>
							<td><%= end_user.id %></td>
							<td>
							  <%= link_to admin_end_user_path(end_user) do %>
			            <%= image_tag end_user.get_profile_image(70,70) %>
			          <% end %>
			        </td>
			        <td>
							  <%= link_to admin_end_user_path(end_user) do %>
			            <%= end_user.nickname.truncate(12) %>
			          <% end %>
			        </td>
							<td><%= end_user.email %></td>
							<td>
								<% if end_user.is_deleted? %>
									<span class="text-invalid">退会済み</span>
								<% else %>
									<span class="text-active">有効</span>
								<% end %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>


	<div class="row" style="text-align:center;">
    <div class="col-md-5"></div>
    <div class="col-md-4 mb-md-4">
        <%= paginate @end_users %>
    </div>
    <div class="col-md-3"></div>
  </div>

</div>
