<h3>チャットページ</h3>

<%= link_to "グループ詳細へ戻る", group_path(@group.id) %>


<% @messages.each do |message| %>
<%= image_tag message.end_user.get_profile_image(50,50) %>
<%= message.end_user.nickname %>
<p><%= message.message %></p>
<p><%= message.created_at.strftime('%Y/%m/%d %T') %></p>
<% end %>


<!--投稿フォーム-->
<%#= form_with model: @message, url: group_chat_messages_path(@group.id), local: true, method: :post do |f| %>
<%= form_with model: @message, url: group_chat_messages_path(group_id: @group.id), local: true, method: :post do |f| %>
<%= f.hidden_field :group_id, :value => @group.id %>
<%#= f.hidden_field :id, :value => date.id %>
<%#= text_field_tag "chat_message[group_id]", "{@group.id}", type: "hidden" %>
  <%= f.text_area :message, name: "chat_message[message]" %>
  <%= f.submit "送信" %>
<% end %>