<header class="shadow-sm">
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#fafdff;">
    <div class="container">

      <div>
        <%= link_to root_path do %>
          <%= image_tag 'logo.jpg', size: '180x120' %>
        <% end %>
      </div>

      <!--<div style="text-align:right;">-->
        <%# if end_user.nickname == "guest_end_user" %>
      <!--    <p><i class="fas fa-ghost"></i> ゲストユーザーでログインしています</p>-->
        <%# end %>
      <!--</div>-->

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-right">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <% if admin_signed_in? %>
           <ul class="navbar-nav ml-auto">
            <li class="d-flex align-items-end mr-5">
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link text-dark mr-0" %>
            </li>
          <% elsif end_user_signed_in? %>
            <li class="nav-item">
              <%= link_to search_path, class: "nav-link mr-0" do  %>
                <i class="fas fa-search search_glass"></i>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to "マイページ", my_page_path, class: "nav-link text-dark mr-0" %>
            </li>
            <li class="nav-item">
              <%= link_to "グループ", group_all_path, class: "nav-link text-dark mr-0" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_end_user_session_path, method: :delete, class: "nav-link text-dark mr-0" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'ゲストログイン（おためし用）', end_users_guest_sign_in_path, method: :post, class: "nav-link text-dark mr-0" %>
            </li>
            <li class="nav-item">
              <%= link_to "新規登録", new_end_user_registration_path, class: "nav-link text-dark mr-0" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", new_end_user_session_path, class: "nav-link text-dark mr-0" %>
            </li>
             </ul>
          <% end %>
        </div>
      </div>

    </div>
  </nav>
</header>
