<!DOCTYPE html>
<html>
  <head>
    <title>KimamaMemo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!--<script src="app/javascript/packs/modernizr.custom.js"></script>-->
    <!--<script src="/end_users/app/javascript/packs/toucheffects.custom.js"></script>-->

    <link rel="stylesheet" type="text/css" href="/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/css/component.css" />

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="/js/modernizr.custom.js"></script>
    <script src="/js/toucheffects.js"></script>

  </head>

  <body>
    <%= render "layouts/header" %>

    <main>
      <div class="bg_pattern Paper_v2"></div>
      <p><%= flash[:notice] %></p>
      <%= yield %>
    </main>

    <%= render "layouts/footer" %>
  </body>
</html>
